.button {
  background-color: #303965;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.button-pressed {
  background-color: #F0680A;
}
